In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("campus_placement_data.csv")

In [11]:
df.sample(5)

,student_id,gender,age,city_tier,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_stream,degree_percentage,...,technical_skills_score,soft_skills_score,aptitude_score,communication_score,work_experience_months,leadership_roles,extracurricular_activities,backlogs,placed,salary_lpa
50163,STU050164,Male,20,Tier 3,53.20,State,40.00,ICSE,Commerce,45.00,...,9.8,9.7,49.9,9.9,30,2,2,0,1,8.38
10536,STU010537,Male,19,Tier 3,51.32,State,50.73,ICSE,Science,55.85,...,6.0,2.6,69.6,2.2,17,3,5,3,0,0.00
47048,STU047049,Female,25,Tier 1,46.35,ICSE,46.22,CBSE,Commerce,45.00,...,4.2,3.6,13.4,4.1,0,1,5,3,0,0.00
29298,STU029299,Female,22,Tier 3,52.84,CBSE,52.05,State,Commerce,45.00,...,7.2,6.4,50.5,6.0,7,0,4,0,1,7.75
54472,STU054473,Male,21,Tier 1,64.41,CBSE,44.85,State,Arts,48.58,...,5.9,6.8,45.7,6.4,7,2,5,0,0,0.00

In [12]:
df.shape

(100000, 26)

In [13]:
df.columns

Index(['student_id', 'gender', 'age', 'city_tier', 'ssc_percentage',
       'ssc_board', 'hsc_percentage', 'hsc_board', 'hsc_stream',
       'degree_percentage', 'degree_field', 'mba_percentage', 'specialization',
       'internships_count', 'projects_count', 'certifications_count',
       'technical_skills_score', 'soft_skills_score', 'aptitude_score',
       'communication_score', 'work_experience_months', 'leadership_roles',
       'extracurricular_activities', 'backlogs', 'placed', 'salary_lpa'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   student_id                  100000 non-null  object
 1   gender                      100000 non-null  object
 2   age                         100000 non-null  int64
 3   city_tier                   100000 non-null  object
 4   ssc_percentage              100000 non-null  float64
 5   ssc_board                   100000 non-null  object
 6   hsc_percentage              100000 non-null  float64
 7   hsc_board                   100000 non-null  object
 8   hsc_stream                  100000 non-null  object
 9   degree_percentage           100000 non-null  float64
 10  degree_field                100000 non-null  object
 11  mba_percentage              100000 non-null  float64
 12  specialization              35035 non-null   object
 13  internships_count           100000 non-null  int64
 14  projects_count              100000 non-null  int64
 15  certifications_count        100000 non-null  int64
 16  technical_skills_score      100000 non-null  float64
 17  soft_skills_score           100000 non-null  float64
 18  aptitude_score              100000 non-null  float64
 19  communication_score         100000 non-null  float64
 20  work_experience_months      100000 non-null  int64
 21  leadership_roles            100000 non-null  int64
 22  extracurricular_activities  100000 non-null  int64
 23  backlogs                    100000 non-null  int64
 24  placed                      100000 non-null  int64
 25  salary_lpa                  100000 non-null  float64
dtypes: float64(9), int64(9), object(8)
memory usage: 19.8+ MB

In [17]:
df.isnull().sum()

student_id                        0
gender                            0
age                               0
city_tier                         0
ssc_percentage                    0
ssc_board                         0
hsc_percentage                    0
hsc_board                         0
hsc_stream                        0
degree_percentage                 0
degree_field                      0
mba_percentage                    0
specialization                64965
internships_count                 0
projects_count                    0
certifications_count              0
technical_skills_score            0
soft_skills_score                 0
aptitude_score                    0
communication_score               0
work_experience_months            0
leadership_roles                  0
extracurricular_activities        0
backlogs                          0
placed                            0
salary_lpa                        0
dtype: int64

In [18]:
df.describe()

,age,ssc_percentage,hsc_percentage,degree_percentage,mba_percentage,internships_count,projects_count,certifications_count,technical_skills_score,soft_skills_score,aptitude_score,communication_score,work_experience_months,leadership_roles,extracurricular_activities,backlogs,placed,salary_lpa
count,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,21.55581,71.929885,71.831667,70.185520,22.853134,1.677490,3.295290,1.896330,5.982618,6.413043,59.913595,6.374366,9.964250,1.108080,2.931890,1.045870,0.844320,9.708429
std,1.50696,11.867225,13.903709,15.599274,31.610435,1.306627,1.870414,1.775324,1.948801,2.292634,17.772688,2.385099,11.953415,1.207242,1.937578,1.614606,0.362554,4.783668
min,18.00000,40.000000,40.000000,45.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.00000,63.870000,62.120000,58.090000,0.000000,1.000000,2.000000,0.000000,4.600000,4.800000,47.900000,4.700000,0.000000,0.000000,2.000000,0.000000,1.000000,8.510000
50%,21.00000,71.920000,71.860000,69.890000,0.000000,1.000000,3.000000,1.000000,6.000000,6.500000,60.000000,6.500000,3.000000,1.000000,3.000000,0.000000,1.000000,10.710000
75%,22.00000,80.030000,81.720000,81.840000,59.330000,2.000000,4.000000,3.000000,7.300000,8.200000,72.100000,8.300000,20.000000,2.000000,4.000000,2.000000,1.000000,12.710000
max,26.00000,100.000000,100.000000,100.000000,100.000000,5.000000,10.000000,8.000000,10.000000,10.000000,100.000000,10.000000,36.000000,5.000000,10.000000,10.000000,1.000000,24.220000

In [20]:
df.duplicated().sum()

np.int64(0)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.histplot(